# ===== Android / Gradle =====
.gradle/
build/
local.properties
.externalNativeBuild/
.cxx/

# ===== IDE (Android Studio / IntelliJ) =====
.idea/
*.iml

# ===== Firebase / Secrets =====
**/google-services.json
*.jks
*.keystore

# ===== Android =====
/captures

# ===== OS =====
.DS_Store
Thumbs.db

